/env1
/.venv
/vertican/settings/dev_settings.py

*/__pycache__
**/__pycache__
***/__pycache__
db.sqlite3
db.sqlite31
*/db.sqlite3
# */migrations
.venv/
*/.venv
*/.venv/
.env
.enve
env.txt
*.env

*medias
*media
**media
*/media
**/media


# *migrations/
# **migrations/
# */migrations/
# **/migrations/

app.txt
server_db.conf

find . -path "*/migrations/*.py" -not -name "__init__.py" -delete && find . -path "*/migrations/*.pyc" -delete
find . -path "*/migrations/*.py" -not -name "__init__.py" -delete && find . -type d -name "migrations" -exec rm -rf {} \;