
{% extends "property/base.html" %}
{% load static  %}

{% block content %}

<section id="center" class="center_blog clearfix">
	<div class="container">
	 <div class="row">
	  <div class="center_blog_1 text-center clearfix">
	   <div class="col-sm-12">
		<h2 class="mgt">ABOUT US</h2>
		<h5><a href="#">Home</a>  /  About Us</h5>
	   </div>
	  </div>
	  <div class="about_1 clearfix mt-4">
	   <div class="col-sm-6">
		<div class="about_1l clearfix">
		 <h4 class="mgt">ABOUT <span class="col_1">FIND HOUSES</span></h4>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.</p>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio id voluptatibus incidunt cum? Atque quasi eum debitis optio ab. Esse itaque officiis tempora possimus odio rerum aperiam ratione, sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit sunt.</p>
		 <h5><a class="button" href="#">READ MORE</a></h5>
		</div>
	   </div>
	   <div class="col-sm-6">
		<div class="about_1r clearfix mt-4">
			<iframe 
			style="width:100%; height: 300px;"
			src="https://www.youtube.com/embed/w0j38YXFkwE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
			allowfullscreen></iframe>
		</div>
	   </div>
	  </div>
	 </div>
	</div>
   </section>
  
{% endblock content %}